@model ShareEbook_v1.Models.Account

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<div class="container">
    <main role="main" class="pb-3" >
        <h4>Account</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Username" />
                        <div class="form-group">
                            <label asp-for="@Model.User.Name" class="control-label"></label>
                            <input asp-for="@Model.User.Name" class="form-control" value="@Model.User.Name" />
                            <span asp-validation-for="@Model.User.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.User.Birthday" class="control-label"></label>
                            <input asp-for="@Model.User.Birthday" class="form-control" value="@Model.User.Birthday" />
                            <span asp-validation-for="@Model.User.Birthday" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.User.Email" class="control-label"></label>
                            <input asp-for="@Model.User.Email" class="form-control" value="@Model.User.Email" />
                            <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.User.PhoneNumber" class="control-label"></label>
                            <input asp-for="@Model.User.PhoneNumber" class="form-control" value="@Model.User.PhoneNumber" />
                            <span asp-validation-for="@Model.User.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.User.Gender" class="control-label"></label>
                            <select asp-for="@Model.User.Gender" class="form-control" value="@Model.User.Gender">
                                <option value="@Gender.Male">Nam</option>
                                <option value="@Gender.Female">Nữ</option>
                                <option value="@Gender.Other">Khác</option>
                            </select>
                            <span asp-validation-for="@Model.User.Gender" class="text-danger"></span>
                        </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                 
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </main>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
