@model ShareEbook_v1.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<div class="container">
    <main role="main" class="py-3">

        <h4>Thông tin người dùng</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        <select asp-for="Gender" class="form-control" >
                            @if(Model.Gender == Gender.Male){
                                <option selected value="@Gender.Male">Nam</option>
                                <option value="@Gender.Female">Nữ</option>
                                <option value="@Gender.Other">Khác</option>
                            }
                            else if (Model.Gender == Gender.Female){
                                <option value="@Gender.Male">Nam</option>
                                    <option selected value="@Gender.Female">Nữ</option>
                                <option value="@Gender.Other">Khác</option>
                            }else{
                                <option value="@Gender.Male">Nam</option>
                                <option value="@Gender.Female">Nữ</option>
                                    <option selected value="@Gender.Other">Khác</option>
                            }
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Birthday" class="control-label"></label>
                        <input asp-for="Birthday" class="form-control" />
                        <span asp-validation-for="Birthday" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-controller="Home" asp-action="Index">Quay về trang chủ</a>
        </div>
    </main>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
